# IDE
.idea/
.nova/
.vs/
.vscode/
*.code-workspace
*.iml

# Node Modules
node_modules/
package-lock.json

break.lock
releases/

# Build Artifacts
break.css
break-compiled*
break.lock
packs/*
!packs/_source/

# OS Specific
.DS_Store


